.btnSubmit{
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;

    :hover{
    opacity:.85;
    cursor: pointer;
    }

    :active{
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
    }
}
                
.formIngredient {
    text-align: center;
}

.inputtext{
    padding: 9px 10px;
    border-radius: 3px;
    border: 1px solid #efefef;
    background-color: #f6f6f6;
    width: 100%;
}

.form__inner{
    padding: 20px 30px;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    margin: 0 25%;
    position: relative;
    
}
.form__row{
    margin: 20px 0;
    text-align: left;
}