.App {
  height: 100%;

  
}

header {
  display: flex;
  align-items: center;
  padding: 0 15px;
  flex: 0 0 50px;
  background-color: #297fb8;
}

aside {
  background-color: #297fb8;
  width: 200px;
  height: calc(100vh - 50px);;
  border-right: 1px solid #236fa3;
  color: white;
  position: absolute;
  top: 50px;
  left: -200px;
  transition: all 0.5s linear;
}

aside.isOpen {
  left: 0;
}

.menu-btn {
  background: none;
  color: white;
  border: none;
}

main {
  flex: 1;
}

.AddRecipeForm{
  position: relative;
  left: -210px;
  transition: all 0.5s linear;
}

.AddRecipeFormIsOpen{
  position: relative;
  left: 0;
  border: 1px solid #000000;
  transition: all 0.5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btnRecipes {
  margin-left:40px;
  position:relative;
  height:50px;
  width:60%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:#90c843;
  color:#FFF;
  font-family: 'Open Sans', sans-serif;  
  font-weight:400;
  font-size: 16pt;
  transition:background .4s;
  cursor:pointer;
}

.modal{
  background: #9fd574;
  position: absolute;
  width: 400px;
  height: 100px;
  left: 500px;
  word-wrap: break-word;
  text-align: center;
  border: 3px solid #000000;
  border-radius: 10px;
  z-index: 999;
  cursor:pointer;
  display: block;
}
.modal_close {
  display: none;
}



