header {
    display: flex;
    align-items: center;
    padding: 30px 32px;
    flex: 0 0 50px;
    background-color: #fff;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

    h1 {
        margin: auto;
    }

    .btnRecipes {
        margin-left: 40px;
        position: relative;
        height: 50px;
        width: 200px;
        border-radius: 1px;
        border: 0 none;
        box-sizing: border-box;
        padding: 10px;
        background: #27AE60;
        color: white;
        font-weight: bold;
        cursor: pointer;
      
    }

    @media (max-width: 425px) {
        .btnRecipes {
            height: 100px;
            width: 150px;
        }
    }
}