@import 'base/colors';

.recipe {
    width: 200px;
    min-height: 250px;
    margin: 40px;
    background: $white;
    padding: 15px; /* Поля вокруг текста */
    border-radius: 2px;
    flex-basis: calc(33% - 16px);
    -webkit-flex-basis: calc(33% - 16px);
    margin: 8px;
}

.recipe-image{
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    max-height: 200px;
}
.recipe-image img{
    cursor: zoom-in;
    width: 100%;
    height: auto;
    transition: transform .3s ease-in;
    transform: scale(1);
}

.recipe-image img:hover{
    transform: scale(1.1);
}

.recipe-action button{
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13pt;
  height: 36px;
  border-radius: 2px;
  text-align: center;
  color: $white;
  background: $primary-red;
  border: 0;
  font-weight: 400;
  padding: 0 16px;
  cursor: pointer;
  &:hover {
    background: lighten($primary-red, 10%);
  }
  &:focus {
    outline: none;
  }
}